.main_wrapper{
    display:flex;
    flex-direction: column;
    background-color: #edf1f5;
    height: 86vh;

}
.first{
    background-color: #343a40;
    margin: 2rem;
    border-radius: 2rem;
    height:6rem;
    color:white;
    padding:1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.second{
    display:flex;
    flex-direction:row;
    margin: 2rem;
}

.left{
    border-radius: 2rem;
}
.right{
    border-radius: 2rem;
    margin-left:21rem;
}