.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-image: url("https://media.istockphoto.com/id/1267149438/vector/abstract-red-vector-background-with-stripes.jpg?s=612x612&w=0&k=20&c=4iykLC6veWQ4hU4D9dto5abOfvVEsULtv1eqzUFgD4Q=");
  background-repeat: no-repeat;
  background-size: cover;
  height: 23rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.aboutInstitute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutInstitute > div {
  /* margin-left: 3rem; */
  text-align: center;
  color: #ffffff;
}
.vectorArt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vectorArt > img {
  height: 14rem;
  width: 38rem;
}

.flexContainer > h3 {
  text-align: center;
  flex: 0 1 100%;
  margin-top: 1rem;
}
.flexContainer > div {
  flex: 1 0 50%;
}
.flexContainer > h3 {
  flex: 0 1 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.flexContainer1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: #c21717;
}

.flexContainer1 > h3 {
  text-align: center;
  flex: 0 1 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.flexContainer1 > div {
  flex: 1 0 25%;
}

.directorCorner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  flex: 0 0 100%;
  background-image: url("https://media.istockphoto.com/id/1267149438/vector/abstract-red-vector-background-with-stripes.jpg?s=612x612&w=0&k=20&c=4iykLC6veWQ4hU4D9dto5abOfvVEsULtv1eqzUFgD4Q=");
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.directorPic {
  height: 20rem;
  width: 18rem;
  margin-left: 10rem;
}
.directorSection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.directorCorner > h3 {
  text-align: center;
  margin-bottom: 1rem;
  flex: 0 1 100%;
  margin-top: 1rem;
  color: white;
}
.message {
  color: #ffffff;
}
.directorCorner > div {
  flex: 1 0 50%;
}

.card {
  flex-direction: row;
  align-items: center;
}
.card-title {
  font-weight: bold;
}
.card img {
  width: 30%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}
@media only screen and (max-width: 768px) {
  a {
    display: none;
  }
  .card-body {
    padding: 0.5em 1.2em;
  }
  .card-body .card-text {
    margin: 0;
  }
  .card img {
    width: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  .card img {
    width: 40%;
  }
}
